extends layout

block content
  h1 Time Entries

  a(href="/ticket/add-time") Add New Time Entry

  table
    thead
      tr
        th Date
        th Hours
        th Minutes 
        th Task
        th Sub-task

    tbody
      each entry in entries
        tr
          td= entry.date.toLocaleDateString()
          td= entry.hours
          td= entry.min
          td= entry.task
          td= entry.subtask
